.hamburger-menu-link {
    height: 24Px;
    display: flex;
    align-items: center;
    position: relative;
}

.hamburger-menu-link__bars {
    &, &:before, &:after {
        width: 29.6Px;
        height: 4Px;
        background-color: $text-color;
    }

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}
