.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 58px;
}

.header__menu {
    @include tablets {
        display: none;
    }
}

.header__socials {
    @include phones {
        display: none;
    }
}
