.hero {
    height: 100vh;
    position: relative;
}

.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero__content {
    display: flex;
    flex: .975;
    align-items: center;
    justify-content: center;
    /* padding: 0 24%; */
    padding: 0 16.5% 0 24%;
}

.hero__scroll-down {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 3.9%; //4%
    display: flex;
    justify-content: center;
}
