.menu {
    display: flex;

    &--color-east-bay {
        color: #414C63;
    }
}

.menu__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }

    @include desktop {
        margin-right: 5vw;
    }
}

.menu__link {
    white-space: nowrap;

    &:hover {
        font-weight: 600;
    }

    &:after {
        content: attr(title);
        display: block;
        font-weight: 600;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
