.quote {
    position: relative;
    padding-left: 98px;

    &:before {
        content: '';
        display: block;
        background: svg-load('quote.svg', fill=#303133) center center / contain no-repeat;
        width: 77px;
        height: 57.4px;
        position: absolute;
        top: 12px;
        left: 0;
    }
}

.quote__text {
    min-height: 121px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 31px;
}

.quote__author {
    display: flex;
}
