.reviews {
    height: calc(100vh - 370px);
    background: url('~images/bg/reviews.jpg') center top / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 4.2%; */
}
