.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;

    @include tablets {
        font-size: 30Px;
        line-height: 41Px;
    }

    @include phones {
        font-size: 24Px;
        line-height: 33Px;
    }
}
