.slider-thumbs {
    display: flex;
}

.slider-thumbs__item {
    width: 25%;

    &:hover {
        border: 3px solid #ff9a00;
    }
}

.slider-thumbs__pic {
    max-width: 100%;
    max-height: 100%;
}
