.slider-thumbs {
    display: flex;
}

.slider-thumbs__item {
    width: 178px;
    height: 100px;

    &:hover {
        border: 3px solid #dc9322;
    }
}

.slider-thumbs__pic {
    width: 100%;
    height: 100%;
}
