.tags {
    display: flex;
}

.tags__item {
    color: rgba(#333c49, .8);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    background-color: #f3f6f9;
    border-radius: 40px;
    padding: 14px 22px;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}
