.userinfo {
    display: flex;
}

.userinfo__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: rgba($text-color, .5);
    text-align: right;
    margin-right: 56px;
}

.userinfo__occ {
    white-space: nowrap;
}

.userinfo__name {
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
    white-space: nowrap;
}
