.user__picture {
    flex-shrink: 0;
    margin-bottom: 78px;
}

.user__picture-style {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.user__data {
    width: 75%;
    font-weight: 600;
    line-height: 22px;
    margin: 0 auto;

    td {
        width: 50%;
        padding-bottom: 17px;
    }
    
    tr:last-child td {
        padding-bottom: 0;
    }
}

.user__data-title {
    color: rgba($text-color, .3);
}
