script(type="text/x-template")#reviews-slider
    .reviews-slider
        .reviews-slider__header
            .section-title.reviews-slider__title Что обо мне говорят
            .reviews-slider__btns
                button(
                    type='button'
                    @click = 'previous()'
                    ref='prevBtn'
                    :class='{disabled: state === "begin"}'
                ).reviews-slider__btn.round-btn.round-btn--prev
                button(
                    type='button'
                    @click = 'next()'
                    ref='nextBtn'
                    :class='{disabled: state === "end"}'
                ).reviews-slider__btn.round-btn.round-btn--next
        .reviews-slider__content
            flickity(ref='flickity' :options='flickityOptions').reviews-slider__quotes
                .reviews-slider__quotes-item(v-for='review in reviews')
                    .quote
                        .quote__text
                            p {{review.text}}
                        .quote__author
                            .author-display
                                .author-display__picture
                                    .author-display__picture-style
                                        img(:src='review.photo').author-display__pic
                                .author-display__about
                                    .author-display__name {{review.author}}
                                    .author-display__occ {{review.occ}}
