script(type='text/x-template')#skills-widget
    .values__widget
        .values__widget-container
            ul.categories
                li.categories__item(v-for='category in skills' :key='category.category')
                    category(
                        :category='category'
                    )

script(type="text/x-template")#category
    .category
        .category__title {{category.category}}
        ul.skills
            li.skills__item(v-for='skill in category.skills' :key='skill.title')
                skill(
                    :skill='skill'
                )

script(type="text/x-template")#skill
    .skill
        svg(viewBox='0 0 138 138').skill__circle-shape
            circle(cx='69' cy='69' r='64').skill__circle.skill__circle--layer-under
            circle(cx='69' cy='69' r='64' stroke='url(#gradient)' transform='rotate(180 69 69)' ref='colored-circle').skill__circle.skill__circle--layer-above
            linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0')
                stop(offset='0%' stop-color='#d0731b')
                stop(offset='100%' stop-color='#dc9322')
        .skill__title {{skill.title}}
