script(type="text/x-template")#slider
    .slider
        display(
            :currentWork = 'currentWork',
            :works = 'works',
            :currentIndex = 'currentIndex',
            @changeSlide = 'changeSlide'
        )
        info(
            :currentWork = 'currentWork'
        )

script(type="text/x-template")#slider-display
    .slider__display(:data-slide='currentIndex + 1')
        img(:src='currentWork.photo').slider__display-pic
        thumbs(
            :currentWork = 'currentWork',
            :works = 'slicedWorks'
        )
        btns(
            @changeSlide = '$emit("changeSlide", $event)'
        )

script(type="text/x-template")#slider-thumbs
    .slider__display-thumbs
            ul.slider-thumbs
                li.slider-thumbs__item(
                    v-for='work in works' :key='work.id'
                    :class='{active: currentWork.id === work.id}'
                )
                    button(type='button').slider-thumbs__btn
                        img(:src='work.photo').slider-thumbs__pic

script(type="text/x-template")#slider-btns
    .slider__btns
        button(
            type='button'
            @click = '$emit("changeSlide", "next")'
        ).slider__btn.direction-btn.direction-btn--next
        button(
            type='button'
            @click = '$emit("changeSlide", "prev")'
        ).slider__btn.direction-btn.direction-btn--prev

script(type="text/x-template")#slider-info
    .slider__info
        tags(
            :tags = 'tagsArray'
        )
        .slider__info-text
            .slider__info-title {{currentWork.title}}
            .slider__info-desc
                p {{currentWork.desc}}
            .slider__info-link
                a(:href='currentWork.link').iconed-link Посмотреть сайт

script(type="text/x-template")#slider-tags
    .slider__tags
            ul.tags
                li.tags__item(v-for='tag in tags') {{tag}}
